.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logs {
    color: #A3E5BA;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.5;
    font-size: 1.2rem;
    height: 70px;
}

.button {
    padding: 10px 16px;
    border: 1px solid white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.button:active {
    position: relative;
    top: 1px;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}
